<%
	let folderUploads = 'uploads/articles/';
%>
<div class="site-main-container">
	<!-- Start latest-post Area -->
	<section class="latest-post-area pb-120">
		<div class="container no-padding">
			<div class="row">
				<div class="col-lg-8 post-list">
					<!-- Start latest-post Area -->
					<div class="latest-post-wrap">
                        <h1>GIỚI THIỆU</h1>
						Thiết kế web tĩnh là sử dụng các đoạn mã HTML (HTML5), hình ảnh, Video, Audio, Flash, Javascript (jQuery) và CSS [2][3] để tạo một giao diện cho trang web và tên tập tin được lưu có phần mở rộng là: .html hoặc .htm. Trong thiết kế web tĩnh không có hệ cơ sở dữ liệu như MySQL hay MSSQL.

Đối với một website tĩnh, khi muốn thay đổi giao diện cho các trang web con thì người viết phải thay đổi bằng tay cho từng trang một do vậy web tĩnh có 3 điểm yếu là:

Khó thay đổi giao diện một cách đồng bộ.
Khó thay đổi nội dung nếu như người quản lý trang web không có kiến thức về HTML.
Không có khả năng tương tác web.
Mở rộng
Trong các web tĩnh thế hệ mới, đã được bổ sung thêm chức năng thay đổi giao diện hàng loạt. Các trang web tĩnh này sẽ có phần đuôi mở rộng thay vì .html và .htm mà là .php, .aspx, .jsp, .asp. Trong web PHP tĩnh, các mã HTML đều được giữ nguyên chỉ thêm một cú pháp để gọi thư viện template.

Thư viện template là một tập tin chứa giao diện của toàn bộ trang web và có phần mở rộng là .tpl. Khi người quản trị trang thay đổi các file template này thì giao diện trang web sẽ thay đổi theo.

Như vậy với các website tĩnh thế hệ mới chỉ kém website động ở khâu cập nhật nội dung và thực thi các tương tác trên nền web.

Thiết kế web động
Cơ bản
Web động là web có hệ thống cơ sở dữ liệu dùng để cung cấp thông tin cho website, điểm mạnh của web động so với web tĩnh là khả năng quản lý dữ liệu web tốt, khả năng tương tác trên hệ thống web, dễ dàng cập nhật nội dung và thêm các tính năng tiện ích quản lý cho doanh nghiệp và thân thiện với người dùng

Ngôn ngữ

Giao diện quản lý ứng dụng mã nguồn mở Joomla dùng để phát triển web bằng ngôn ngữ PHP.
Trong giai đoạn khởi đầu của website, có rất nhiều ngôn ngữ lập trình được sử dụng như: JSP, ASP, PHP, ASP.NET, JSP (Java), Cold Fusion, Perl, Python và một số ngôn ngữ không phổ biến khác. Nhưng hiện tại có 2 ngôn ngữ được dùng phổ biến là PHP và ASP.NET.

PHP được dùng trên các máy chủ lưu trữ web dùng hệ điều hành Linux như: CenOS, Debian, Fedora, RedHat, Ubuntu. các file có phần mở rộng là .php hoặc php3 và thường theo cấu trúc LAMP. Ở một số máy chủ lưu trữ web còn hỗ trợ PHP trên nền Windows với cấu trúc WAMP.

PHP là ngôn ngữ được sử dụng phổ biến nhất trên thế giới, dựa vào PHP, các lập trình viên đã xây dựng các mã nguồn mở nổi tiếng như Joomla, Wordpress, Drupal, Mambo, phpBB, Zend. Đây là các ứng dụng web được sử dụng để xây dựng các trang website động, người dùng không nhất thiết phải biết viết ngôn ngữ lập trình mà vẫn có thể tạo ra những web động.

ASP.NET được dùng trên các máy chủ lưu trữ web dùng hệ điều hành của Microsoft như Windows Server 2003, Windows Server 2008. Các file có phần mở rộng là .aspx hoặc .asp.

Để đưa website lên mạng điều đầu tiên là cần một máy chủ lưu trữ web và máy chủ này phải được kết nối Internet liên tục. Trong các giải pháp lưu trữ trên mạng có thể sử dụng: Share Hosting - tức mua một dung lượng nhất định trên máy chủ, VPS - tức một máy chủ chạy với công nghệ ảo hóa, Dedicated Server - một máy chủ vật lý.

Và một tên miền cho website để định hướng được người dùng truy cập vào website của bạn.

Hiện tại, web động được thiết kế trên nền mã nguồn mở đang rất được ưa chuộng và thịnh hành. Mã nguồn mở đang trở thành một xu hướng mới, một người không biết lập trình cũng có thể thiết kế website động với đầy đủ chức năng thông qua mã nguồn mở.
					</div>
					<!-- End latest-post Area -->
				</div>
				<div class="col-lg-4">
					<div class="sidebars-area">
						<div class="single-sidebar-widget most-popular-widget">
						</div>
						<div class="single-sidebar-widget social-network-widget">
							<h6 class="title">Social Networks</h6>
							<ul class="social-list">
								<li class="d-flex justify-content-between align-items-center fb">
									<div class="icons d-flex flex-row align-items-center">
										<i class="fa fa-facebook" aria-hidden="true"></i>
										<p>983 Likes</p>
									</div>
									<a href="#">Like our page</a>
								</li>
								<li class="d-flex justify-content-between align-items-center tw">
									<div class="icons d-flex flex-row align-items-center">
										<i class="fa fa-twitter" aria-hidden="true"></i>
										<p>983 Followers</p>
									</div>
									<a href="#">Follow Us</a>
								</li>
								<li class="d-flex justify-content-between align-items-center yt">
									<div class="icons d-flex flex-row align-items-center">
										<i class="fa fa-youtube-play" aria-hidden="true"></i>
										<p>983 Subscriber</p>
									</div>
									<a href="#">Subscribe</a>
								</li>
								<li class="d-flex justify-content-between align-items-center rs">
									<div class="icons d-flex flex-row align-items-center">
										<i class="fa fa-rss" aria-hidden="true"></i>
										<p>983 Subscribe</p>
									</div>
									<a href="#">Subscribe</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End latest-post Area -->
</div>
