<% 
    sourceByHelper = (user_name, time) =>{
        let xhtmlResult = `<span class="glyphicon glyphicon-user" aria-hidden="true">${user_name}</span><br>
        <span class="glyphicon glyphicon-time" aria-hidden="true">${moment(time).format(systemConfig.formatDate)}</span>`;
        
        return xhtmlResult;
    }
%>